.fa-cloud-rain {
  font-size: 90px;
  color: white;
  text-align: center;
}
.fa-cloud-sun-rain {
  color: white;
  text-align: center;
  font-size: 35px;
}

.fa-cloud-sun {
  color: white;
  text-align: center;
  font-size: 35px;
}
.fa-sun {
  color: white;
  text-align: center;
  font-size: 35px;
}

.p {
  font-weight: 300;
  font-size: 18px;
}

.days {
  font-family: "Gill Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: lightgray;
}

.card-title {
  color: lightgray;
  font-family: "Gill Sans", sans-serif;
}

h4 {
  color: lightgray;
  font-family: "Gill Sans", sans-serif;
}

h5 {
  color: white;
  font-family: "Gill Sans", sans-serif;
}
