.fa-cloud-rain {
  font-size: 90px;
  color: whitesmoke;
  text-align: center;
}
.fa-cloud-sun-rain {
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
}

.fa-cloud-sun {
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
}
.fa-sun {
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
}

.p {
  font-weight: 300;
  font-size: 18px;
}

.days {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 20px;
  color: whitesmoke;
}

.card-title {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h4 {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h6 {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

system {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}
